.movies-box {
    width: 220px;
    height: 330px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    @media screen and (max-width: 750px) {
        width: 100vw * 220 / 750;
        height: 100vw * 330 / 750;
    }
    img {
        transition: transform 0.5s;
    }
    &:hover {
        img {
            transform: scale(1.2);
            filter: blur(3px);
        }
        .favorite {
            top: 0;
            right: 0;
            opacity: 0.9;
        }
        .content {
            background-color: rgba(black, 0.4);
            *,.data{
                transform: translateY(0);
                color: white;
            }
        }
    }
    .favorite {
        width: 55px;
        height: 55px;
        position: absolute;
        top: -55px;
        right: -55px;
        background-color: #ef352c;
        opacity: 0;
        transition: all 0.3s;
        clip-path: polygon(100% 0, 0 0, 100% 100%);
        .icon {
            width: 30px;
            height: 30px;
            position: absolute;
            right: 1px;
            top: 1px;
            fill: white;
        }
    }
    .content {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background-color: rgba(black, 0);
        transition: background-color 0.5s;
        box-sizing: border-box;
        padding: 7% 5% 10px 5%;
        color: transparent;

        h3 {
            transition: all 0.3s;
            transform: translateY(-100%);
            margin: 0;
            font-size: 22px;
        }
        h4 {
            transition: all 0.3s;
            transform: translateY(-100%);
            margin: 0;
        }
        p {
            transition: all 0.3s;
            transform: translateY(-50%);
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 5;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        div {
            transition: all 0.3s;
            transform: translateY(100%);
            font-size: 15px;
            margin: auto;
            h5 {
                font-size: 18px;
                margin: 0;
                text-align: center;
            }
            span{
                font-size: 16px;
            }
        }
    }
}
.title {
    margin: 4px 0 0 0;
    text-align: center;
    font-size: 16px;
    color: white;
    @media screen and (max-width: 600px) {
        font-size: 13px;
    }
}
